* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.slide img{
  object-fit: cover;
  height: 60vh;
}

/* Fading animation*/
.carousel-fade {
  -webkit-animation-name: carousel-fade;
  -webkit-duration-name: 1.5s;
  animation-name: carousel-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes carousel-fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes carousel-fade {
  from {opacity: .4}
  to {opacity: 1}
}
