<!-- Start About -->
<a class="anchor" id="about"></a>
<div class="about">
    <div class="container-fluid">
        <h2 class="section-title">Over Hand & Footcare Yvonne</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3 class="center-text">Welkom bij Hand & Footcare Yvonne</h3>
                <p>U kunt al meer dan dertig jaar bij mij terecht voor professionele voetzorg en passende aandacht voor uw specifieke wensen en klachten. Ik denk dat ik u kan bieden wat u nodig heeft door:</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <span class="oi" data-glyph="star" title="star" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Garantie van kwaliteit door het continu volgen van opleiding en scholing, een registratie in <a href="https://www.kwaliteitsregisterpedicures.nl/">het kwaliteitsregister van pedicures</a> en aansluiting bij de branchorganisatie <a href="https://www.provoet.nl/">ProVoet</a>.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <span class="oi" data-glyph="badge" title="badge" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Gediplomeerd medisch pedicure voor de diabetische, reumatische, oudere en verwaarloosde voet. Veel ervaring met pedicuren van ouderen door werkzaamheden in diverse zorgcentra.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <span class="oi" data-glyph="people" title="people" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Een focus op goed contact met de klant en aandacht voor de benodigde specifieke zorg.</p>
                    </div>
                    <br>
                    <p>De behandelingen voor diabetici en reuma patiënten worden mogelijk vergoed. Voor meer informatie, neemt u gerust contact met mij op.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="about-img" src="img/about.jpg" alt="..." >
            </div>
        </div> <!-- Row end -->

        <div class="row">
          <div class="col-sm-6">
              <img class="about-img mobile-remove" src="img/praktijk.jpg" alt="..." >
          </div>
          <div class="col-sm-6 vertical-center">
              <h3 class="center-text">Over De Praktijk</h3>
              <p>U kunt mijn praktijk vinden in gezondheidscentrum 't Good in Schinnen. Het gezondheidscentrum is bedoeld om zorg voor u zo toegankelijk mogelijk te maken. Naast mijn praktijk kunt u er ook onder andere de huisarts, fysiotherapeut en podotherapeut vinden.</p>
              <br>
              <p>Wilt u meer informatie over het gezondheidscentrum? Neem dan een kijkje op <a href="https://gezondheidscentrum-schinnen.nl/">de website</a>!</p>
          </div>
        </div> <!-- Row end -->
    </div>
</div>
<!-- End About -->
