<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Over Yvonne Hand And Footcare</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Welkom bij Yvonne Hand and Footcare</h3>
                <p>U kunt al meer dan dertig jaar hier terecht voor professionele voetzorg en passende aandacht voor uw specifieke wensen en klachten. Wij denken dat we u kunnen bieden wat u nodig heeft door:</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Garantie van kwaliteit door het continu volgen van opleiding en scholing, een aanmelding in <a href="https://www.kwaliteitsregisterpedicures.nl/">het kwaliteitsregister van pedicures</a> en aansluiting bij de branchorganisatie <a href="https://www.provoet.nl/">ProVoet</a>.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Een kwalificatie medisch pedicure voor de diabetische en reumatische voet. Veel ervaring met het verzorgen van ouderen door werkzaamheden in diverse verzorgingstehuizen.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Een focus op goed contact met de klant en aandacht voor de benodigde specifieke zorg.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div> <!-- Row end -->

        <div class="row">
          <div class="col-sm-12">
            <p>Sommige behandelingen voor diabetische en reumatische voet worden vergoed door de zorgverzekering. Voor meer informatie, neemt u gerust contact op.</p>
          </div>
        </div>

    </div>
</div>
<!-- End About -->
