<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
<div class="row">
        <div class="col-sm-6">
          <ul class="center foot">
              <li><a href="{% link algemene-voorwaarden.html %}"><small>Algemene voorwaarden</small></a></li>
              <li><a href="{% link privacy-beleid.html %}"><small>Privacy beleid</small></a></li>
              <li></li>
            </ul>
        </div>
        <div class="col-sm-6">
          <ul class="center foot">
              <li><small>Hand & Footcare Yvonne</small></li>
              <li><small>Burgemeester Pijlsstraat 5b, Schinnen </small></li>
              <li><small>KVK: 60592796, BTW: NL001820506B80</small></li>
            </ul>
        </div>
        <br>
        <small class="foot center"><a href="https://mickeybeurskens.nl" style="text-decoration: none; margin-top: 15px;">{% if site.copyright %} {{ site.copyright }} {% endif %}</a></small>
    </div>
</footer>
<!-- End Footer -->
