<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">

        <ul class="center foot">
            <li><a href="{% link algemene-voorwaarden.html %}"><small>Algemene voorwaarden</small></a></li>
            <li><a href="{% link privacy-beleid.html %}"><small>Privacy beleid</small></a></li>
        </ul>
        <br>
        <small class="foot center"><a href="https://mickeybeurskens.nl" style="text-decoration: none; margin-top: 15px;">{% if site.copyright %} {{ site.copyright }} {% endif %}</a></small>
    </div>
</footer>
<!-- End Footer -->
