<!-- Start Hero -->
<div class="hero">
  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Image slides -->
    <div class="slide carousel-fade">
      <img src="img/slide-1.jpg" style="width:100%">
    </div>

    <div class="slide carousel-fade">
      <img src="img/slide-2.jpg" style="width:100%">
    </div>
    
    <div class="slide carousel-fade">
      <img src="img/slide-3.jpg" style="width:100%">
    </div>

    <div class="banner-content">
      <div class="banner-content-inner">
        <h1>{{ site.hero.hero_title }}</h1>
        <p>{{ site.hero.hero_description }}</p>
      </div>
    </div>
  </div> <!-- Slideshow -->

  <!-- Javascript include -->
  <script type="text/javascript" src="js/carousel.js"></script>
</div>
<!-- End Hero -->
