<!-- Start Our team -->
<a class="anchor" id="team"></a>
<div class="team">
  <h2 class="section-title">Over Yvonne</h2>
  <div class="team-member-wrapper">
  {% for member in site.data.team %}
    <div class="team-member-inner">
      <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
      <p>{{ member.description }}</p>
      <h3 class="section-title">Neem contact op</h3>
        <h4>
          <span class="oi" data-glyph="phone" title="phone" aria-hidden="true"></span>
          {% if site.contact.phone %}<span style="color: white;"><strong>Telefoon:</strong> {{ site.contact.phone }}</span>{% endif %}
        </h4>
    {% endfor %}
    </div>
  </div>
</div>
<!-- End Our team -->
