<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
      <span class="oi" data-glyph="envelope-closed" title="envelope-closed" aria-hidden="true"></span>
      <h3>Wilt U Een Afspraak Maken?</h3>
      <ul>
          {% if site.contact.phone %}<li><strong>Telefoon:</strong> {{ site.contact.phone }}</li>{% endif %}
          {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
      </ul>
    </div>
    <div class="col-sm-4">
        <span class="oi" data-glyph="clock" title="clock" aria-hidden="true"></span>
        <h3>Openings Tijden Praktijk Schinnen</h3>
        <table>
            <tbody>
                <tr>
                    <td><strong>Maandag:</strong> Vanaf 9:00 </td>
                </tr>
<!--                <tr>
                    <td><strong>Dinsdag tm Donderdag:</strong> Bezoeken Gezondheidscentra</td>
                </tr> -->
                <tr>
                    <td><strong>Vrijdag:</strong> Vanaf 9:00 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <span class="oi" data-glyph="map-marker" title="map-marker" aria-hidden="true"></span>
        <h3>Locatie Praktijk</h3>
            <p>
                Gezondheidscentrum 't Good,
                {{ site.contact.address }}
                <br>
                <br>
                <a class="three-col-link" href="https://gezondheidscentrum-schinnen.nl/">Klik hier voor de website</a> van Gezondheidscentrum t' Good.
            </p>
    </div>
</div>
<!-- End 3 columns -->
