<!-- Start Treatments -->
<a class="anchor" id="treatments"></a>
<div class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Behandelingen</h2>
        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                       <span class="oi" data-glyph="{{ treatment.icon }}" title="yen" aria-hidden="true"></span>

                       <h4>{{ treatment.title }}</h4>
                       <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->
