{% include doctype-head.html %}

<div class="doc-white">
<h1>Algemene Voorwaarden Hand &amp; Footcare Yvonne</h1>
<ol>
<li>	<strong>Algemeen.</strong>  </li>

</ol>
<p>Deze voorwaarden gelden voor iedere aanbieding, behandeling en transactie tussen Hand &amp; Footcare Yvonne en een cliënt waarop Hand &amp; Footcare Yvonne deze voorwaarden van toepassing heeft verklaard, voor zover van deze voorwaarden niet door partijen uitdrukkelijk en schriftelijk is afgeweken.

</p>
<ol start='2' >
<li><strong>Inspanningen</strong> <strong>Hand &amp; Footcare Yvonne</strong></li>

</ol>
<p>Hand &amp; Footcare Yvonne zal de behandelingen naar beste inzicht en vermogen en in overeenstemming met de eisen van goed vakmanschap uitvoeren en op grond van de op dat moment bekende stand der wetenschap. Hand &amp; Footcare Yvonne zal zoveel als redelijkerwijs mogelijk is de cliënt inlichten over financiële consequenties van de wijziging of aanvulling van de behandeling.

</p>
<ol start='3' >
<li><strong>Afspraken</strong>.  </li>

</ol>
<p>De cliënt moet verhindering voor een afspraak zo spoedig mogelijk, doch uiterlijk 24 uur voorafgaande aan de afspraak aan </p>
<p>Hand &amp; Footcare Yvonne melden. Indien de cliënt deze verplichting niet of niet tijdig nakomt, mag Hand &amp; Footcare Yvonne het gehele honorarium voor de afgesproken behandeling aan de cliënt berekenen. Indien de cliënt meer dan vijf minuten later dan de afgesproken tijd in de praktijk komt, mag Hand &amp; Footcare Yvonne de verloren tijd inkorten op de behandeling en toch het gehele afgesproken honorarium berekenen. Hand &amp; Footcare Yvonne moet verhindering voor een afspraak zo spoedig mogelijk, doch uiterlijk 24 uur voorafgaande aan de afspraak aan de cliënt melden. Beide partijen hoeven zich niet aan deze verplichtingen te houden, indien zij gehinderd worden door overmacht. Overmacht omvat datgene wat de wet en jurisprudentie daarover zegt. </p>
<ol start='4' >
<li><strong>Betaling</strong>.  </li>

</ol>
<p>Aanbiedingen in advertenties zijn geldig in de aangegeven looptijd en/of zolang de voorraad strekt. De cliënt dient direct na afloop van de behandeling de betaling van de behandeling en eventuele producten contant te voldoen.</p>
<p> </p>
<ol start='5' >
<li><strong>Personeel in de praktijk</strong>.  </li>

</ol>
<p>Hand &amp; Footcare Yvonne heeft het recht om zonder vooroverleg met de cliënt bepaalde werkzaamheden te laten verrichten door medewerkers, indien Hand &amp; Footcare Yvonne dit voor een goede uitvoering van de behandeling wenselijk oordeelt. De cliënt zal tot en met één jaar na de laatste behandeling in de praktijk medewerkers van Hand &amp; Footcare Yvonne  niet direct of indirect voor zich laten werken, tenzij daarvoor schriftelijke toestemming is gegeven door Hand &amp; Footcare Yvonne  </p>
<p> </p>
<ol start='6' >
<li><strong>Persoonsgegevens &amp; privacy</strong>.  </li>

</ol>
<p>De cliënt voorziet Hand &amp; Footcare Yvonne vóór de eerste behandeling van alle gegevens, waarvan Hand &amp; Footcare Yvonne aangeeft dat deze noodzakelijk zijn of waarvan de cliënt redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn voor het zorgvuldig uitvoeren van de behandelingen. Hand &amp; Footcare Yvonne neemt de persoonlijke gegevens van de cliënt op in een geautomatiseerd systeem. Hand &amp; Footcare Yvonne  behandelt de vertrouwelijke gegevens van de cliënt volgens de richtlijnen in de Wet Bescherming Persoonsgegevens. Hand &amp; Footcare Yvonne  zal gegevens van de cliënt niet verkopen of verhuren aan derden zonder schriftelijke toestemming vooraf van de cliënt. </p>
<p> </p>
<ol start='7' >
<li><strong>Geheimhouding</strong>.  </li>

</ol>
<p>Hand &amp; Footcare Yvonne is verplicht tot geheimhouding van alle vertrouwelijke informatie die de cliënt heeft medegedeeld tijdens de behandeling. Informatie geldt als vertrouwelijk als dit door de cliënt is medegedeeld of als dit voortvloeit uit de aard van de informatie. De geheimhouding vervalt indien, op grond van een wettelijke bepaling of een rechterlijke uitspraak, Hand &amp; Footcare Yvonne verplicht is de vertrouwelijke informatie aan derden te verstrekken. </p>
<p> </p>
<ol start='8' >
<li><strong>Aansprakelijkheid</strong>.  </li>

</ol>
<p>Hand &amp; Footcare Yvonne is niet aansprakelijk voor schade, van welke aard ook, ontstaan doordat Hand &amp; Footcare Yvonne is uitgegaan van door de cliënt verstrekte onjuiste en/of onvolledige informatie over relevante lichamelijke aandoeningen, medicijngebruik, werkzaamheden of vrijetijdsbesteding. Hand &amp; Footcare Yvonne is niet aansprakelijk voor verlies, diefstal of beschadiging van persoonlijke eigendommen die de cliënt heeft meegenomen naar de praktijk.   </p>
<p> </p>
<ol start='9' >
<li><strong>Garantie</strong>.  </li>

</ol>
<p>Hand &amp; Footcare Yvonne geeft de cliënt een week (7 dagen) garantie op de verrichte behandeling en de producten. Deze garantie vervalt indien: </p>
<ul>
<li>De cliënt andere producten dan de door Hand &amp; Footcare Yvonne geadviseerde heeft gebruikt.  </li>
<li>De cliënt de adviezen niet heeft opgevolgd. </li>
<li>De cliënt het advies om medische hulp te zoeken niet binnen twee werkdagen heeft opgevolgd. De cliënt de producten niet volgens de gebruiksaanwijzing heeft gebruikt.</li>

</ul>
<p> </p>
<ol start='10' >
<li><strong>Beschadiging &amp; diefstal</strong>.  </li>

</ol>
<p>Hand &amp; Footcare Yvonne heeft het recht van de cliënt een schadevergoeding te eisen indien de cliënt meubilair, apparatuur of producten beschadigt. Hand &amp; Footcare Yvonne meldt diefstal altijd bij de politie.  </p>
<p> </p>
<ol start='11' >
<li><strong>Klachten</strong>.  </li>

</ol>
<p>Indien de cliënt een klacht heeft over de behandeling of een product, moet deze zo spoedig mogelijk, doch binnen vijf werkdagen na ontdekking schriftelijk gemeld worden aan Hand &amp; Footcare Yvonne.</p>
<p>Hand &amp; Footcare Yvonne moet de klager binnen vijf werkdagen adequaat antwoord geven. Indien een klacht gegrond is, zal Hand &amp; Footcare Yvonne  de behandeling opnieuw verrichten zoals overeengekomen, tenzij dit inmiddels voor de cliënt aantoonbaar zinloos is geworden en de cliënt dit schriftelijk kenbaar maakt. Indien Hand &amp; Footcare Yvonne en klager niet tot overeenstemming kunnen komen, kan de klager het geschil voorleggen aan de wetgever of mediator.  </p>
<p> </p>
<ol start='12' >
<li><strong>Behoorlijk gedrag</strong>.  </li>

</ol>
<p>De cliënt behoort zich in de praktijk behoorlijk te gedragen volgens algemeen aanvaarde normen. Indien de cliënt na herhaaldelijke waarschuwingen onbehoorlijk gedrag blijft vertonen, heeft Hand &amp; Footcare Yvonne het recht de cliënt de toegang tot de praktijk te weigeren zonder opgaaf van redenen.   </p>
<p>  </p>
<ol start='13' >
<li><strong>Recht</strong>.    </li>

</ol>
<p>Op elke overeenkomst tussen Hand &amp; Footcare Yvonne en de cliënt is Nederlands recht van toepassing. Ingeval van uitleg van de inhoud en strekking van deze algemene voorwaarden, is de Nederlandse tekst daarvan steeds bepalend. Van toepassing is steeds de laatst gedeponeerde versie c.q. de versie zoals die gold ten tijde van het tot stand komen van de overeenkomst</p>
<p>  </p>
<ol start='14' >
<li><strong>Wet Wkkgz</strong>.    </li>

</ol>
<p>Vanaf 1 januari 2017 zijn wij verplicht aan een meldcode voor het omgaan met signalen van huiselijk geweld en kindermishandeling. Bron: <a href='https://www.rijksoverheid.nl/onderwerpen/huiselijk-geweld/inhoud/meldcode' target='_blank' class='url'>https://www.rijksoverheid.nl/onderwerpen/huiselijk-geweld/inhoud/meldcode</a>. Bij vermoedens zijn wij verplicht deze meldcode te gebruiken. Denk hierbij aan huiselijk geweld en kindermishandeling</p>
<p> </p>
<p>Hand &amp; Footcare Yvonne heeft ook een eigen meldcode. Hierin staat 1. Geconstateerde signalen 2. Overleg met collega of deskundige over het geconstateerde signaal  3. Gesprek met degene die erbij betrokken zijn 4. Bij twijfel raadplegen wij  <a href='https://vooreenveiligthuis.nl/veilig-thuis' target='_blank' class='url'>https://vooreenveiligthuis.nl/veilig-thuis</a> 5. Beslissing ondernemende stappen. Basismodel aanvragen huishoudelijk geweld  <a href='https://www.rijksoverheid.nl/onderwerpen/huiselijkgeweld/documenten/rapporten/2011/02/02/basismodel-meldcode-huiselijk-geweld-en-kindermishandeling' target='_blank' class='url'>https://www.rijksoverheid.nl/onderwerpen/huiselijkgeweld/documenten/rapporten/2011/02/02/basismodel-meldcode-huiselijk-geweld-en-kindermishandeling</a>. Hand &amp; Footcare Yvonne gaat uit van bovenstaande bijlage en aanpak. </p>
<p> </p>
<ol start='15' >
<li><strong>Algemene voorwaarden Provoet</strong></li>

</ol>
<p> <a href='https://www.provoet.nl/websites/provoet2013/docs/Consumentenfolder_ProVoet_v2.pdf' target='_blank' class='url'>https://www.provoet.nl/websites/provoet2013/docs/Consumentenfolder_ProVoet_v2.pdf</a></p>
</div>
