{% include doctype-head.html %}

<div class="doc-white">
  <h1>Privacy beleid Hand &amp; Footcare Yvonne</h1>
  <p>Om op een verantwoorde manier te kunnen werken slaat Hand &amp; Footcare Yvonne persoonsgegevens op. Met deze gegevens wordt zorgvuldig omgegaan. Hierbij worden de volgende richtlijnen in acht genomen.</p>
  <p>• Alleen die gegevens opslaan die voor ons noodzakelijk zijn om te kunnen voldoen aan geleverde diensten. </p>
  <p>• Wanneer wij gegevens moeten verwerken doen wij dit alleen met uw toestemming. </p>
  <p>• De gegevens worden niet gedeeld met derden tenzij dit nodig is voor het uitvoeren van onze diensten. Met uitzondering van de wettelijke regelgeving betreft het bewaren van de zakelijke administratie een periode van 7 jaar. </p>
  <p>• Wanneer u uw persoonlijke gegevens wilt inzien, wijzigen of wilt laten verwijderen kunt u dit aangeven tijdens uw bezoek aan Hand &amp; Footcare Yvonne. </p>
  <h2>Welke gegevens worden er verwerkt?  </h2>
  <p>• Geslacht</p>
  <p>• Voor- en achternaam </p>
  <p>• Adres • Geboortedatum </p>
  <p>• Email adres </p>
  <p>• Telefoonnummer </p>
  <p>• Medicijngebruik (bloedverdunners, medicatie hart, diabetes mellitus…..) </p>
  <h2>Website  </h2>
  <p>Onze website verzamelt gegevens die conform de Europese wetgeving worden opgeslagen en verwerkt. Bij het invullen van gegevens op de website gaat u akkoord met ons privacy beleid. </p>
  <h2>Voor welke doelen worden de gegevens verwerkt?  </h2>
  <p>• Deze gegevens worden verwerkt om u te kunnen bellen indien het nodig is om onze diensten te kunnen verlenen of te kunnen declareren wanneer u recht heeft op vergoeding. </p>
  <p>• Voor het afleveren van goederen en/of diensten. </p>
  <p>• Het afhandelen van uw betaling. </p>
  <p>• U te kunnen informeren betreft wijzigingen van onze diensten en producten.   </p>
  <h2>Hoe lang moeten de persoonsgegevens bewaard blijven?  </h2>
  <p>Hand &amp; Footcare Yvonne bewaard de gegevens gedurende de periode dat u gebruikt maakt van onze diensten. Verder worden de gegevens bewaard volgens de wettelijke verplichting gedurende een periode van 7 jaar. </p>
  <h2>Hoe worden uw gegevens beschermd?  </h2>
  <p>Hand &amp; Footcare Yvonne neemt de bescherming van uw gegevens serieus. Wij zorgen voor passende maatregelen om misbruik, verlies, onbevoegde toegang, - veranderingen en openbaring tegen te gaan. </p>
  <h2>Gegevens inzien  </h2>
  <p>U heeft het recht te allen tijden uw gegevens in te zien en/of te laten verwijderen. Dit kan alleen persoonlijk zodat ik ook kan zien dat u de persoon in kwestie bent.</p>
  <p>Het indienen van een klacht is mogelijk via de volgend link: <a href='https://autoriteitpersoonsgegevens.nl/nl/zelfdoen/privacyrechten/klacht-over-gebruik-persoonsgegevens' target='_blank' class='url'>https://autoriteitpersoonsgegevens.nl/nl/zelfdoen/privacyrechten/klacht-over-gebruik-persoonsgegevens</a></p>
</div>
